* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Hind', sans-serif;
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body { background-color: #383838; }

.glitch-wrapper {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 
 .glitch {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FFA80D;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:60px;
    width: 450px;
    height: auto;
    flex-flow: column;
   
}

.form-group {
    position: relative;
    margin: 12px 0;
}

.form-group input {
    width: 300px;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: #acacac solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.15s all ease;
}

.form-group input:focus {
    border-color: #eee;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group .form-label {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 18px;
    padding: 0 10px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all ease;
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
    transform: translate(5px, -22px);
    background-color: #383838;
    font-size: 14px;
    color: #eee;
}


#calculate{
    width: 100px;
    height: 45px;
    background-color: transparent;
    color:orange;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 10px;
}
#calculate:hover{
    background-color: orange;
    background: orange;
    color: black;
    cursor: pointer;
    transition: all 0.5;
}


#result {
    width: 350px;
    height: 100px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

